.venv/
__pycache__/
*.pyc

# Dataset
data/midi/
data/processed/

# Generated audio
output/*.wav
output/*.mid

# SoundFont
soundfont/*.sf2

# Large model files
model/*.keras
model/*.h5

# Archives
*.zip

# Environment files
.env